##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

#Config file
./MaCNSS APP/MaCNSS/src/main/java/Database/Config.java

##############################
## Temporary files
##############################
*.ser



##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws